node_modules/
build
npm-debug.log
.nyc
.DS_Store

# Logs
logs
.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea